@font-face {
    /* 폰트 이름 설정 */
    font-family: ggg;
    /* 패키지 내 폰트 파일 경로 설정 */
    src: url('GmarketSansTTFBold.ttf');
    /* 추가로 필요한 폰트 형식들을 지정할 수 있습니다. */
}

/* UI 요소에 적용할 스타일 및 폰트 지정 */
.yourClass {
    /* 폰트 지정 */
    -fx-font-family: 'ggg';
    /* 다른 스타일 속성들을 여기에 추가할 수 있습니다. */
}